<div class="container">
    <h2 class="team-header"><span>Meet Our Team</span></h2>
</div>
    <img class="img-circle" src="" alt="herschel">
    <h3 class="team-name">Herschel</h3>
<div>
    <img class="img-circle" src="Images/ak.jpg" alt="ak">
    <h3 class="team-name">AK Johnson</h3>
</div>
<div>
    <img class="img-circle" src="Images/katie.jpg" alt="katie">
    <h3 class="team-name">Katie Lynn Deck</h3>
</div>
<div>
    <img class="img-circle" src="Images/paul.jpg" alt="paul">
    <h3 class="team-name">Paul Swytch</h3>
</div>
<div>
    <img class="img-circle" src="Images/james.jpg" alt="james">
    <h3 class="team-name">James Brett</h3>
</div>
