<div class="container">
    <h2 class="team-header"><span>Meet Our Team</span></h2>
</div>
<div>
    <img class="img-circle" src="Images/herschel.jpg" alt="herschel">
    <h3 class="team-name">Herschel</h3>
</div>
<div>
    <img class="img-circle" src="Images/ak.jpg" alt="ak">
    <h3 class="team-name">AK Johnson</h3>
</div>
<div>
    <img class="img-circle" src="Images/katie.jpg" alt="katie">
    <h3 class="team-name">Katie Lynn Deck</h3>
</div>
<div>
    <img class="img-circle" src="Images/paul.jpg" alt="paul">
    <h3 class="team-name">Paul Swytch</h3>
</div>
<div>
    <img class="img-circle" src="Images/james.jpg" alt="james">
    <h3 class="team-name">James Brett</h3>
</div>



<!-- TABS FOOTER -->
    <nav class="navbar navbar-default navbar-fixed-bottom">
        <div class="btn-group btn-group-justified" role="group" aria-label="...">
            <div class="btn-group text-center" role="group">
                <a href="/home">
                    <button type="button" class="btn btn-default" id="test"> <img id="tabicon" src="images/icon_home-blue.png">
      <br> Home </button></a>
            </div>
            <div class="btn-group text-center" role="group">
                <a href="/map">
                    <button type="button" class="btn btn-default" id="test"> <img id="tabicon" src="images/icon_map-blue.png">
      <br> Map </button></a>
            </div>
            <div class="btn-group text-center" role="group">
                <a href="/upload">
                    <button type="button" class="btn btn-default" id="test"> <img id="tabicon" src="images/tabicon-exchange.png">
      <br> Submit Coup'n </button></a>
            </div>
            <div class="btn-group text-center" role="group">
                <a href="/badges">
                    <button type="button" class="btn btn-default" id="test"> <img id="tabicon" src="images/icon_badge-blue.png">
      <br> Badges </button></a>
            </div>
        </div>
    </nav>