<!-- HEADER FOR BADGE PG -->
<div class="container">
    <h2 class="How-to-play-header"><span>BADGES</span></h2>
</div>


<!-- SHOW ALL BADGES -->
    <div class="row">
        <div class="col-sm-6 col-md-4">
            <div class="text-center">
                <div class="thumbnail how-to-img" ng-repeat="badge in badges">
                     <a href="/badges/{{badge.badge_id}}">
                    <img src="{{badge.badge_imgurl}}" alt="Badges">
                    <div class="caption" id="badges-back">
                        <h4><strong>{{badge.badge_name}}</strong></h4>
                    </div>
                    </a>
                </div>
            </div>
        </div>
    </div>


<!-- TABS FOOTER -->
    <nav class="navbar navbar-default navbar-fixed-bottom">
        <div class="btn-group btn-group-justified" role="group" aria-label="...">
            <div class="btn-group text-center" role="group">
                <a href="/home">
                    <button type="button" class="btn btn-default" id="test"> <img id="tabicon" src="images/icon_home-blue.png">
      <br> Home </button></a>
            </div>
            <div class="btn-group text-center" role="group">
                <a href="/map">
                    <button type="button" class="btn btn-default" id="test"> <img id="tabicon" src="images/icon_map-blue.png">
      <br> Map </button></a>
            </div>
            <div class="btn-group text-center" role="group">
                <a href="/upload">
                    <button type="button" class="btn btn-default" id="test"> <img id="tabicon" src="images/tabicon-exchange.png">
      <br> Submit Coup'n </button></a>
            </div>
            <div class="btn-group text-center" role="group">
                <a href="/badges">
                    <button type="button" class="btn btn-default" id="test"> <img id="tabicon" src="images/icon_badge-blue.png">
      <br> Badges </button></a>
            </div>
        </div>
    </nav>