<!--<ul class="media-list">
  <li class="media">
    <div class="media-left">
      <a ng-href="/loca>
        <img class="media-object" src="Images/good-people-logo.png" alt="Good People">
      </a>
    </div>
    <div class="media-body">
      <h2 class="location-heading">{{location.location_name}}</h2>
      <h3 class="objective-heading">{{objective.obj_name}}</h3>
    </div>
  </li>
</ul>-->

<!--<div class="container">
<div class="row">-->
<div ng-repeat="objective in objectives" class="col-sm-6 col-md-4">
    <div class="thumbnail">
    <img ng-src="{{ objective.imageurl }}" alt="Logo">
    <h4 class="title">{{ objective.locationname }}</h4>
    <h4 id="price">{{ objective.obj_description }}</h4>
      </div>
    </div>