<!-- ALL THE DETAILS FROM ONE DRINK OBJECTIVE -->

<!-- MISC ITEMS -->
<div class="container">
<div class="row">
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
            
      <img ng-src="{{drink.locationimg}}" alt="Test">
      
      <div class="caption">
        <h4 id="title">{{drink.obj_name}}</h4>
        <h4 id="price">{{drink.locationname}}</h4>
      </div>
    </div>
  </div>
</div>
</div>

<img ng-src="{{drink.badgeimg}}" alt="Test">


<!-- TABS FOOTER -->

<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="btn-group btn-group-justified" role="group" aria-label="...">
  <div class="btn-group text-center" role="group">
    <button type="button" class="btn btn-default" id="test"> <img id="tabicon" src="images/icon_home-blue.png">
      <br> Home </button>
  </div>
   <div class="btn-group text-center" role="group">
    <button type="button" class="btn btn-default" id="test"> <img id="tabicon" src="images/icon_map-blue.png">
      <br> Map </button>
  </div>
   <div class="btn-group text-center" role="group">
    <button type="button" class="btn btn-default" id="test"> <img id="tabicon" src="images/icon_camera-blue.png">
      <br> Camera </button>
  </div>
     <div class="btn-group text-center" role="group">
    <button type="button" class="btn btn-default" id="test"> <img id="tabicon" src="images/icon_badge-blue.png">
      <br> Badges </button>
  </div>
  </div>
</nav>