<!--ADD OBJECTIVE DETAIL & LOCATION UNDER EAT-->
<div class="container">
  <h2 class="How-to-play-header"><span>EAT</span></h2>
</div>

<div class="row">
  <div class="col-sm-6 col-md-4">
    <div class="text-center">
      <div class="thumbnail how-to-img" ng-repeat="eat in eats">
        <a ng-href="/eat/{{eat.obj_id}}">
          <img ng-src="{{eat.locationimg}}" alt="Logo">
          <h4 class="title">{{ eat.locationname }}</h4>
          <h4 id="price">{{ eat.badgename }}</h4>
        </a>
      </div>
    </div>
  </div>
</div>  



  <!-- TABS FOOTER -->

  <nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="btn-group btn-group-justified" role="group" aria-label="...">
      <div class="btn-group text-center" role="group">
        <a href="/home">
          <button type="button" class="btn btn-default" id="test"> <img id="tabicon" src="images/icon_home-blue.png">
      <br> Home </button></a>
      </div>
      <div class="btn-group text-center" role="group">
        <a href="/map">
          <button type="button" class="btn btn-default" id="test"> <img id="tabicon" src="images/icon_map-blue.png">
      <br> Map </button></a>
      </div>
      <div class="btn-group text-center" role="group">
        <a href="/upload-image">
          <button type="button" class="btn btn-default" id="test"> <img id="tabicon" src="images/icon_camera-blue.png">
      <br> Camera </button></a>
      </div>
      <div class="btn-group text-center" role="group">
        <a href="/badges">
          <button type="button" class="btn btn-default" id="test"> <img id="tabicon" src="images/icon_badge-blue.png">
      <br> Badges </button></a>
      </div>
    </div>
  </nav>