 <header class="header">
    <div class="container-fluid">
      <ul class="nav navbar-nav navbar-left">
        <li>
          <p class="navbar-text">
            <a href="/"><img src="images/badge_coaster-cool"></a>
        </li>
        <li>
          <p class="navbar-text"> | </p>
        </li>
        <li>
          <p class="navbar-text"><a href="/#!/signup" class="navbar-link">APPAREL</a></p>
        </li>
        <li>
          <p class="navbar-text"><a href="/#!/map" class="navbar-link">MISC</a></p>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li>
          <p class="navbar-text" ><a href="/#!/badges"> Badges </a><span class="badge">{{ getCount() }}</span></li>
      </ul>
    </div>
  </header>

<div class="jumbotron">
  <h1>Welcome to Herschel's Guide to Birmingham!</h1>
  <p>Explore the Magic City...</p>
</div>



<!--all of the Categories -->
<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <ul class="list-group">
                <li ng-repeat="cat in cats" class='list-group-item list-group-item-default'>
                    <h1>{{ cat.name }}</h1>
                    <button type="button" id="read-button" class="btn btn-default">
  <span class="glyphicon glyphicon-lamp"></span><a ng-href="/{{post.id}}"> Read </a></button>
                    </li>
            </ul>
        </div>
    </div>
</div>