<!-- HERSCHEL LOGO - SAME SIZE/STYLE AS LOGIN AND SIGNUP -->
<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <div class="text-center" >
        <img id="hersch-home" src="/images/herschel-logo.png">
      </div>
    </div>
  </div>
</div>


<!-- CATEGORIES - CONNECTED TO DB -->
<div class="container">
<div class="row">
  <div class="col-xs-6 col-md-6" ng-repeat="cat in cats">
    <a href="/{{cat.name}}" class="thumbnail">
      <img src="{{cat.caticon}}" alt="Choose with Herschel">
    </a>
  </div>
</div>
</div>


<!-- TABS FOOTER -->
    <nav class="navbar navbar-default navbar-fixed-bottom">
        <div class="btn-group btn-group-justified" role="group" aria-label="...">
            <div class="btn-group text-center" role="group">
                <a href="/home">
                    <button type="button" class="btn btn-default" id="test"> <img id="tabicon" src="images/icon_home-blue.png">
      <br> Home </button></a>
            </div>
            <div class="btn-group text-center" role="group">
                <a href="/map">
                    <button type="button" class="btn btn-default" id="test"> <img id="tabicon" src="images/icon_map-blue.png">
      <br> Map </button></a>
            </div>
            <div class="btn-group text-center" role="group">
                <a href="/upload">
                    <button type="button" class="btn btn-default" id="test"> <img id="tabicon" src="images/tabicon-exchange.png">
      <br> Submit Coup'n </button></a>
            </div>
            <div class="btn-group text-center" role="group">
                <a href="/badges">
                    <button type="button" class="btn btn-default" id="test"> <img id="tabicon" src="images/icon_badge-blue.png">
      <br> Badges </button></a>
            </div>
        </div>
    </nav>