<h2 class="How-to-play-header">How to Play!</h2>
<div class="How-to-play-content">
    <p>Spicy jalapeno bacon ipsum dolor amet salami enim laborum ea bacon tri-tip burgdoggen incididunt frankfurter ut t-bone
        commodo. Tempor eu elit tri-tip. Ground round cupim ipsum sirloin quis enim. Id ad deserunt frankfurter, culpa dolore
        fugiat nostrud swine. Id tenderloin ad meatball burgdoggen alcatra bacon. Laborum pariatur cupidatat, ham sed kevin
        officia picanha dolore salami pork loin aliqua tail brisket ex. Do kielbasa short ribs eiusmod lorem. Reprehenderit
        eiusmod enim, chuck aliqua in tongue picanha consectetur exercitation dolore. Anim ea aute dolore porchetta burgdoggen,
        meatball beef. Commodo sint beef ribs venison velit rump. Do kevin ut turducken occaecat labore, brisket ullamco
        bresaola reprehenderit duis shank. Ut velit minim, jowl brisket sirloin leberkas ground round.

    </p>
</div>