<div class="container">
<h2 class="How-to-play-header"><span>HOW T0:</span></h2>
<!--<h2 class="How-to-play-header">To:</h2>-->
<!--<h2 class="How-to-play-header-line">Play</h2>-->
</div>

<div class="row">
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail how-to-img">
      <img src="Images/icon_home-reverse-dullorange.png" alt="home">
      <div class="caption">
        <h3>Step 1:</h3>
        <p>Get out of your house! Netflix and chill can wait...</p>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail how-to-img">
      <img src="Images/icon_camera-reverse-lightblue.png" alt="camera">
      <div class="caption">
        <h3>Step 2:</h3>
        <p>Go to one of our partnered businesses and snap a picture of their logo!</p>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail how-to-img">
      <img src="Images/icon_badge-reverse-dullorange.png" alt="badge">
      <div class="caption">
        <h3>Step 3:</h3>
        <p>Receive badges with local rewards</p>
      </div>
    </div>
  </div>
</div>