<iframe id="map-img" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3326.615731623867!2d-86.81512748473915!3d33.5113734807566!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x88891b8d68838f07%3A0x1a1a60361066390!2sInnovation+Depot+Inc!5e0!3m2!1sen!2sus!4v1493321785362" width="300" height="300" frameborder="0" style="border:0"></iframe>



<!-- TABS FOOTER -->

<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="btn-group btn-group-justified" role="group" aria-label="...">
  <div class="btn-group text-center" role="group"><a href="/home">
    <button type="button" class="btn btn-default" id="test"> <img id="tabicon" src="images/icon_home-blue.png">
      <br> Home </button></a>
  </div>
   <div class="btn-group text-center" role="group"><a href="/map">
    <button type="button" class="btn btn-default" id="test"> <img id="tabicon" src="images/icon_map-blue.png">
      <br> Map </button></a>
  </div>
   <div class="btn-group text-center" role="group"><a href="/upload-image">
    <button type="button" class="btn btn-default" id="test"> <img id="tabicon" src="images/icon_camera-blue.png">
      <br> Camera </button></a>
  </div>
     <div class="btn-group text-center" role="group"><a href="/badges">
    <button type="button" class="btn btn-default" id="test"> <img id="tabicon" src="images/icon_badge-blue.png">
      <br> Badges </button></a>
  </div>
  </div>
</nav>