<iframe id="map-img" src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d3326.685194049613!2d-86.81206578473915!3d33.50956668075694!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2sus!4v1493322705535" width="300" height="300" frameborder="0" style="border:0" allowfullscreen></iframe>
<h5>Don't know your way around Birmingham? Let Google Maps be your friend!</h5>

<!-- TABS FOOTER -->
    <nav class="navbar navbar-default navbar-fixed-bottom">
        <div class="btn-group btn-group-justified" role="group" aria-label="...">
            <div class="btn-group text-center" role="group">
                <a href="/home">
                    <button type="button" class="btn btn-default" id="test"> <img id="tabicon" src="images/icon_home-blue.png">
      <br> Home </button></a>
            </div>
            <div class="btn-group text-center" role="group">
                <a href="/map">
                    <button type="button" class="btn btn-default" id="test"> <img id="tabicon" src="images/icon_map-blue.png">
      <br> Map </button></a>
            </div>
            <div class="btn-group text-center" role="group">
                <a href="/upload">
                    <button type="button" class="btn btn-default" id="test"> <img id="tabicon" src="images/tabicon-exchange.png">
      <br> Submit Coup'n </button></a>
            </div>
            <div class="btn-group text-center" role="group">
                <a href="/badges">
                    <button type="button" class="btn btn-default" id="test"> <img id="tabicon" src="images/icon_badge-blue.png">
      <br> Badges </button></a>
            </div>
        </div>
    </nav>