<!-- HEADER FOR BADGE PG -->
<div class="container">
    <h2 class="team-header"><span>MY PROFILE</span></h2>
</div>


<!-- SHOW ALL BADGES -->
    <div class="row">
        <div class="col-sm-6 col-md-4">
            <div class="text-center">
                <div class="thumbnail how-to-img">
                     
                    <img src="images/icon_home-reverse-yellow.png" alt="Badges">
                    <div class="caption" id="badges-back">
                        <h4><strong>{{user.name}}</strong></h4>
                    </div>
                
                </div>
            </div>
        </div>
    </div>



<!-- TABS FOOTER -->
    <nav class="navbar navbar-default navbar-fixed-bottom">
        <div class="btn-group btn-group-justified" role="group" aria-label="...">
            <div class="btn-group text-center" role="group">
                <a href="/home">
                    <button type="button" class="btn btn-default" id="test"> <img id="tabicon" src="images/icon_home-blue.png">
      <br> Home </button></a>
            </div>
            <div class="btn-group text-center" role="group">
                <a href="/map">
                    <button type="button" class="btn btn-default" id="test"> <img id="tabicon" src="images/icon_map-blue.png">
      <br> Map </button></a>
            </div>
            <div class="btn-group text-center" role="group">
                <a href="/upload-image">
                    <button type="button" class="btn btn-default" id="test"> <img id="tabicon" src="images/icon_camera-blue.png">
      <br> Camera </button></a>
            </div>
            <div class="btn-group text-center" role="group">
                <a href="/badges">
                    <button type="button" class="btn btn-default" id="test"> <img id="tabicon" src="images/icon_badge-blue.png">
      <br> Badges </button></a>
            </div>
        </div>
    </nav>