<!-- HEADER FOR UPLOAD PG -->
<div class="container">
    <h2 class="How-to-play-header"><span>COUPON</span></h2>
</div>

<div class="row">
  <div class="col-sm-6 col-md-4">
    <div class="container">
      <div class="caption text-center">
        <form>
                    <div class="form-group">
            <label for="badge" style="color: white; font-size: 1.5em;">Objective Name</label>
            <input type="text" class="form-control" id="badge" placeholder="{{play.obj_objname}}" value="{{play.badgename}}">
          </div>

          <!--<p>Objectvie Name: <select ng-model="post.categoryid" id="cat-list" >
                <option ng-repeat="cat in cats" value="{{cat.id}}">{{ cat.name }}</option>
                    </select></p>-->
          
          <div class="form-group">
            <label for="coupon" style="color: white; font-size: 1.5em;">Enter Code</label>
            <input type="text" class="form-control" id="coupon" placeholder="####" ng-model="code1">

            <!--<input type="textarea" ng-model="post.title" class="form-control">-->

          </div>
          <button type="submit" id="button-contact" class="btn btn-default" ng-click="enterCode()">SUBMIT CODE</button>
        </form>
      </div>
    </div>
  </div>
</div>
<!--ADD THUMBS UP AND THUMBS DOWN-->
<div class="row">
  <div class="col-sm-6 col-md-4">
    <div class="container">
      <div class="caption text-center">
    <img class="thumbs-up" ng-hide="results" src="images/icon_badge-fail.png" alt="herschel">
    <img class="thumbs-up" ng-show="results" src="images/icon_badge-success.png" alt="herschel">
    <h3 class="team-name">{{result}}</h3>
</div>

</div>
</div>
</div>

<!-- TABS FOOTER -->
<nav class="navbar navbar-default navbar-fixed-bottom">
  <div class="btn-group btn-group-justified" role="group" aria-label="...">
    <div class="btn-group text-center" role="group">
      <a href="/home">
        <button type="button" class="btn btn-default" id="test"> <img id="tabicon" src="images/icon_home-blue.png">
      <br> Home </button></a>
    </div>
    <div class="btn-group text-center" role="group">
      <a href="/map">
        <button type="button" class="btn btn-default" id="test"> <img id="tabicon" src="images/icon_map-blue.png">
      <br> Map </button></a>
    </div>
    <div class="btn-group text-center" role="group">
      <a href="/badges">
        <button type="button" class="btn btn-default" id="test"> <img id="tabicon" src="images/icon_badge-blue.png">
      <br> Badges </button></a>
    </div>
  </div>
</nav>