<!-- ALL THE DETAILS FROM ONE PLAY OBJECTIVE -->

<div class="container">
<div class="row">
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
            
      <img ng-src="{{play.locationimg}}" alt="Test">
      
      <div class="caption">
        <h4 id="title">{{play.obj_name}}</h4>
        <h4 id="price">{{play.locationname}}</h4>
      </div>
    </div>
  </div>
</div>
</div>

<img ng-src="{{play.badgeimg}}" alt="Test">


<!-- TABS FOOTER -->

<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="btn-group btn-group-justified" role="group" aria-label="...">
  <div class="btn-group text-center" role="group"><a href="/home">
    <button type="button" class="btn btn-default" id="test"> <img id="tabicon" src="images/icon_home-blue.png">
      <br> Home </button></a>
  </div>
   <div class="btn-group text-center" role="group"><a href="/map">
    <button type="button" class="btn btn-default" id="test"> <img id="tabicon" src="images/icon_map-blue.png">
      <br> Map </button></a>
  </div>
   <div class="btn-group text-center" role="group"><a href="/camera">
    <button type="button" class="btn btn-default" id="test"> <img id="tabicon" src="images/icon_camera-blue.png">
      <br> Camera </button></a>
  </div>
     <div class="btn-group text-center" role="group"><a href="/badges">
    <button type="button" class="btn btn-default" id="test"> <img id="tabicon" src="images/icon_badge-blue.png">
      <br> Badges </button></a>
  </div>
  </div>
</nav>