<div class="container">
<h2 class="How-to-play-header"><span>YOUR TASK</span></h2>
</div>
<!-- ALL THE DETAILS FROM ONE SHOP OBJECTIVE -->
<div class="row">
  <div class="col-sm-6 col-md-4">
    <div class="text-center">
    <div class="thumbnail how-to-img">
      <img ng-src="{{shop.badgeimg}}" alt="Go to this Location">
      <div class="caption">
        <h3>"{{shop.obj_name}}"</h3>
        <h5>{{shop.obj_description}}</h5>
      </div>
    </div>
  </div>
  </div>
</div>
<!--LOCATION DETAILS-->
<div class="container">
<h2 class="How-to-play-header"><span>WHERE</span></h2>
</div>

<div class="row">
  <div class="col-sm-6 col-md-4">
    <div class="text-center">
    <div class="thumbnail how-to-img">
      <img ng-src="{{shop.locationimg}}" alt="Go to this Location">
      <div class="caption">
        <h3>"{{shop.locationname}}"</h3>
       <h5>{{shop.obj_description}}</h5>
        <p>{{shop.obj_description}}</p>
      </div>
    </div>
  </div>
  </div>
</div>


<!-- TABS FOOTER -->
    <nav class="navbar navbar-default navbar-fixed-bottom">
        <div class="btn-group btn-group-justified" role="group" aria-label="...">
            <div class="btn-group text-center" role="group">
                <a href="/home">
                    <button type="button" class="btn btn-default" id="test"> <img id="tabicon" src="images/icon_home-blue.png">
      <br> Home </button></a>
            </div>
            <div class="btn-group text-center" role="group">
                <a href="/map">
                    <button type="button" class="btn btn-default" id="test"> <img id="tabicon" src="images/icon_map-blue.png">
      <br> Map </button></a>
            </div>
            <div class="btn-group text-center" role="group">
                <a href="/upload">
                    <button type="button" class="btn btn-default" id="test"> <img id="tabicon" src="images/tabicon-exchange.png">
      <br> Submit Coup'n </button></a>
            </div>
            <div class="btn-group text-center" role="group">
                <a href="/badges">
                    <button type="button" class="btn btn-default" id="test"> <img id="tabicon" src="images/icon_badge-blue.png">
      <br> Badges </button></a>
            </div>
        </div>
    </nav>