<div class="login-page">
  <div class="form">
    <form class="register-form">
      <input type="text" placeholder="name"/>
      <input type="password" placeholder="password"/>
      <input type="text" placeholder="email address"/>
      <button>create</button>
      <p class="message">Already registered? <a href="/home">Sign In</a></p>
    </form>
    <form class="login-form">
      <input type="text" placeholder="name"/>
      <input type="text" placeholder="username"/>
      <input type="password" placeholder="password"/>
      <a href="/home"><button>Sign Up</button></a>
      <p class="message">Already registered? <a href="/login">Back to login page</a></p>
    </form>
  </div>
</div>
