<!--<div>
  <img class="herschel-login" src="/Images/herschel-logo.png" alt="poodle">
</div>-->

<!-- HERSCHEL LOGO - SAME SIZE/STYLE AS LOGIN AND HOME -->
<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <div class="text-center" >
        <img id="hersch-home" src="/images/herschel-logo.png">
      </div>
    </div>
  </div>
</div>

<!-- SIGN UP AREA -->
<div class="login-page">
  <div class="form">
    <form class="register-form">
      <input type="text" placeholder="name" ng-model="name">
      <input type="email" placeholder="email" ng-model="email">
      <input type="password" placeholder="password" ng-model="password">
      <button>create</button>
      <p class="message">Already registered? <a href="/login">Sign In</a></p>
    </form>
    <form class="login-form">
      <input type="text" placeholder="name" ng-model="name">
      <input type="email" placeholder="email" ng-model="email">
      <input type="password" placeholder="password" ng-model="password">
      <button ng-click="signUp()">Sign Up</button>
      <p class="message">Already registered? <a href="/login">Back to login page</a></p>
    </form>
  </div>
</div>


