<body ng-controller="UploadController">

    <h2>Upload your Image!</h2>

    <div class="panel panel-default">
    
        <div class="panel-body">
            <form>
                <div class="form-group">
                    <label for="myFileField">Select a file: </label>
                    <input type="file" id="file" name="file" />
                    <button ng-click="dataFile()">Upload</button>
                    <!--<input type="file" demo-file-model="myFile"  class="form-control" id ="myFileField"/>-->
                    </div>
            </form>
            </div>
        </div>
    <div>{{serverResponse}}</div>
</body>